<h1><%=@title="Resend confirmation instructions"%></h1>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
