<h1><%=@title="Sign up"%></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 15 %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :type => :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :size => 50 %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>

