<h1><%=@title="Debt"%></h1>

<p>Amount: <%= @debt.amount %> €</p>
<p>From: <%= link_to(@debt.person_from.name, @debt.person_from) %></p>
<p>To: <%= link_to(@debt.person_to.name,  @debt.person_to) %></p>
<p>Bill: <%= link_to(@debt.bill.description, @debt.bill) %></p>


<p>
  <%= link_to 'Edit', edit_debt_path(@debt) %> |
  <%= link_to 'Destroy', @debt, :confirm => 'Are you sure?', :method => :delete %>
</p>
