<h1><%=@title="Friends"%></h1>

<nav class="links">
  <ul>
    <li><%= link_to "New friend", new_friend_path() %></li>
  </ul>
</nav>

<table>
  <tr>
    <th>Friend</th>
    <th>Owes you</th>
    <th>You owe him/her</th>
  </tr>
<% @friends.each do |friend| %>
  <tr>
    <td><%= link_to friend.name, friend_path(friend) %></td>
    <% owes_you = friend.owes(current_user) %>
    <% if owes_you > 0 %>
    <td><%=owes_you%> €</td>
    <td></td>
    <% elsif owes_you < 0 %>
    <td></td>
    <td><%=owes_you.abs%> €</td>
    <% end %>
  </li>
<% end %>
</ul>


