<h1><%=@title=@friend.name %></h1>

<% if @debts.empty? %>
<p>Nothing here yet&hellip;</p>
<% else %>

<% if @owes_you > 0 %>
<p>Owes you <%= money(@owes_you) %></p>
<% elsif @owes_you < 0 %>
<p>You owe <%= money(@owes_you.abs) %></p>
<% end %>

<table class="debts">
  <thead>
    <tr>
      <th>Bill</th>
      <th>Owes you</th>
      <th>You owe</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
<% @debts.each do |debt| %>
    <tr>
      <td><%=link_to(debt.bill.description, debt.bill)%></td>
      <td class="amount owes_you"><%= money(debt.amount) if debt.person_from == current_user %></td>
      <td class="amount you_owe"><%= money(debt.amount) if debt.person_to == current_user %></td>
      <td><%= debt.bill.date.strftime("%Y-%m-%d") %></td>
    </tr>
<% end %>
  </tbody>
</table>

<% end %>

<p><%= button_to 'Destroy', friend_path(@friend), :method => 'delete', :confirm => "Are you sure you want to destroy this friend and all his bills?" %></p>

<nav class="links">
  <ul>
    <li><%= link_to 'Edit', edit_friend_path(@friend) %></li>
    <li><%= link_to 'All friends', friends_path %></li>
  </nav>
</nav>
