<h1><%=@title="Resend unlock instructions"%></h1>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :type => "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
