<h1><%=@title="User #{@user.name}" %></h1>

<%= link_to 'Edit', edit_user_path(@user) %>

<% unless @user.bills.empty? %>
  <h2>Bills</h2>
  <ul>
  <% @user.bills.each do |b| %>
    <li><%=link_to(b.description, b)%></li>
  <% end %>
  </ul>
<% end %>

<% unless @user.debts.empty? %>
  <h2>Debts</h2>
  <ul>
  <% @user.debts.each do |d| %>
    <li><%=d.user_to.name%> owes <%= d.amount %> € to <%= d.user_from.name %>
      <%=link_to(d.bill.description, d.bill)%></li>
  <% end %>
  </ul>
<% end %>

<% if @user.bills.empty? and @user.debts.empty? %>
<p>Nothing here yet&hellip;</p>
<% end %>


