%h1=h @title = @user.name

%p= link_to "Edit", edit_user_path(@user)

%h2 Debts

%table
  %thead
    %th User
    %th= "Owes %s" % h(@user.name)
    %th= "%s is owed" % h(@user.name)
  %tbody
    - for user, debt in @debts
      %tr
        %td= link_to h(user.name), user
        %td= debt > 0 ? '' : "#{debt.abs} €"
        %td= debt < 0 ? '' : "#{debt.abs} €"

%h2 Recent Bills

= render :partial => 'bills/bills', :locals => { :bills => @bills }
