<h1><%=@title=@user.name %></h1>

<% unless @user.bills.empty? %>
  <h2>Bills</h2>
  <ul>
  <% @user.bills.each do |b| %>
    <li><%=link_to(b.description, b)%></li>
  <% end %>
  </ul>
<% end %>

<% unless @user.debts.empty? %>
  <h2>Debts</h2>
  <ul>
  <% @user.debts.each do |d| %>
    <li><%=d.person_to.name%> owes <%= d.amount %>&nbsp;€ to <%= d.person_from.name %>
      <%=link_to(d.bill.description, d.bill)%></li>
  <% end %>
  </ul>
<% end %>

<% unless @user.friends.empty? %>
  <h2>Friends</h2>
  <ul>
  <% @user.friends.each do |f| %>
    <li><%=link_to(f.name, friend_path(f))%></li>
  <% end %>
  </ul>
<% end %>

<% if @user.bills.empty? and @user.debts.empty? and @user.friends.empty? %>
<p>Nothing here yet&hellip;</p>
<% end %>


