<h1><%=@title="Forgot your password?"%></h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
