%p#form_amount
  %label{:for => "bill_amount"} Amount
  = f.text_field :amount, :size => 4
  €

%p#form_description
  = f.label :description
  = f.text_field :description

%p
  = f.label 'bill_transaction_at_3i', 'Date'
  = f.date_select :made_on, :order => [:day, :month, :year]

%p
  = f.label :comma_seperated_friends_names, 'Between you and'
  = f.text_field :comma_seperated_friends_names
  (comma seperated list of your friends names, e.g <kbd>John, Jane</kbd>)

= error_messages_for :object_name => 'list of participants', :object => @bill.participations, :message => ''


- unless @bill.participations.paying.empty?
  %h2 Payers
  = error_messages_for :object_name => 'list of payers', :object => @bill.participations.paying, :message => '', :header_tag => :h3
  %ul
    - @bill.participations.paying.each do |participation|
      %li
        = error_messages_for :object_name => 'user', :object => participation.user, :message => '', :header_tag => :h3
        - f.fields_for 'new_participations[]', participation do |participation_fields|
          = h participation.user.name
          payed
          = participation_fields.text_field :amount, :size => 4
          €

- unless @bill.participations.participating.empty?
  %h2 Participants
  = error_messages_for :object_name => 'list of participants', :object => @bill.participations.participating, :message => '', :header_tag => :h3
  %ul
    - @bill.participations.participating.each do |participation|
      %li
        = error_messages_for :object_name => 'user', :object => participation.user, :message => '', :header_tag => :h3
        - f.fields_for 'new_participations[]', participation do |participation_fields|
          = h participation.user.name
          participated
          = participation_fields.text_field :amount, :size => 4
          €
          

