


%p
  = f.collection_select :to_user_id, User.all, :id, :name
  = f.radio_button :payment, false
  %label{:for => "bill_payment_false"} owes
  = f.radio_button :payment, true
  %label{:for => "bill_payment_true"} payed
  = f.collection_select :from_user_id, User.all, :id, :name

%p#form_amount
  %label{:for => "bill_amount"} Amount
  = f.text_field :amount, :size => 4
  €

%p#form_description
  %label{:for => "bill_description"} Description
  = f.text_field :description

%p
  %label{:for => "bill_transaction_at_3i"} Date
  = f.date_select :transaction_at, :order => [:day, :month, :year]

