<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="bill_tabs">
    <label class="first">
      <%= f.radio_button :bill_type, "Bill" %>
      IOU
    </label>
    <label>
      <%= f.radio_button :bill_type, "Payment" %>
      Payment
    </label>
  </div>
  <div id="bill_tabs_content">
    <div class="field">
      <label for="friend_name">With</label>
      <%= text_field_tag :friend_name, @friend_name %>
    </div>

    <div class="field_selection" id="who_payed_selection">
      <label id="you_payed_true">
        <%= radio_button_tag :you_payed, true, @you_payed %>
        <span>You payed</span>
      </label>
      <label id="you_payed_false">
        <%= radio_button_tag :you_payed, false, !@you_payed %>
        <span>He/she payed</span>
      </label>
    </div>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, :type => :number, :size => 4, :'data-currency-symbol' => DEFAULT_CURRENCY_SYMBOL %> <%= DEFAULT_CURRENCY_SYMBOL %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date, :end_year => Time.now.year, :order => [:day, :month, :year] %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <% unless @bill.new_record? %>
    or <%= link_to "cancel", @bill %>
    <% end %>
  </div>
<% end %>

