

%div{:style=>'overflow:auto'}
  %p#form_from{:style=>'float:left'}
    = f.collection_select :from_user_id, User.all, :id, :name, :title => "From"

  %ul#form_types{:style=>'float:left;margin:0 2em'}
    %li
      = f.radio_button :payment, false
      %label{:for => "bill_payment_false"} owes
    %li
      = f.radio_button :payment, true
      %label{:for => "bill_payment_true"} payed

  %p#form_to{:style=>'float:left'}
    = f.collection_select :to_user_id, User.all, :id, :name, :title => "To"

%p#form_amount
  %label{:for => "bill_amount"} Amount
  = f.text_field :amount, :size => 4
  €

%p#form_description
  %label{:for => "bill_description"} Description
  = f.text_field :description

%p
  %label{:for => "bill_transaction_at_3i"} Date
  = f.date_select :transaction_at, :order => [:day, :month, :year]

