%h1= @title="Latest Bills"

%p= link_to "New", new_bill_path

%table
  %thead
    %tr
      %th Description
      %th Amount
      %th Date

  %tbody
    - for bill in @bills
      %tr
        %td= link_to h(bill.title.blank? ? bill.past_phrase : bill.title), bill
        %td= "#{bill.amount} €"
        %td= h bill.transaction_at


