<h1><%=@title="Bills"%></h1>

<table>
  <tr>
    <th>Bill</th>
    <th>Amount</th>
    <th>People from</th>
    <th>People to</th>
    <th>Date</th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= link_to(bill.description, bill) %></td>
    <td><%= bill.amount %></td>
    <td><%= bill.people_from.map{ |u| u.name }.join(', ') %></td>
    <td><%= bill.people_to.map  { |u| u.name }.join(', ') %></td>
    <td><%= bill.date %></td>
  </tr>
<% end %>
</table>

