<h1><%=@title="Bills"%></h1>

<% if @bills.empty? %>
<p>No bill here yet, you should <%= link_to "create one", new_bill_path %> first.</p>
<% else %>

<table>
  <tr>
    <th>Bill</th>
    <th>Amount</th>
    <th>With</th>
    <th>Date</th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= link_to(bill.description, bill) %></td>
    <td><%= bill.amount %> €</td>
    <td><%= bill.people.reject{|u| u == current_user}.map{|u| u.name}.join(', ') %></td>
    <td><%= bill.date.strftime("%Y-%m-%d") %></td>
  </tr>
<% end %>
</table>

<% end %>
