<div id="overview">
  <h1>You owe <%=money(@total_you_owe)%></h1>

  <% unless @you_owe.empty? %>
  <table id="you_owe">
  <% @you_owe.each do |friend, amount| %>
    <tr>
      <th><%=link_to friend.name, friend %></th>
      <td class="amount you_owe"><%=money(amount)%></td>
    </tr>
  <% end %>
  </table>
  <%end %>

  <h1>Owes you <%=money(@total_owes_you)%></h1>
  <% unless @owes_you.empty? %>
  <table id="owes_you">
  <% @owes_you.each do |friend, amount| %>
    <tr>
      <th><%=link_to friend.name, friend%></th>
      <td class="amount owes_you"><%=money(amount)%></td>
    </tr>
  <% end %>
  </table>
  <% end %>

</div>
