%article.bill
  %h1= h @title = @bill.title
  %p= "%.2f €" % @bill.amount

  
  %h2 Payers
  %ul
    - @bill.participations.paying.with_amount.each do |participation|
      %li
        = h participation.user.name
        = participation.amount
        €


  %h2 Participants
  %ul
    - @bill.participations.participating.with_amount.each do |participation|
      %li
        = h participation.user.name
        = participation.amount
        €

  %p= link_to "Edit", edit_bill_path(@bill)