<h1><%=@title="Bill: #{@bill.description}"%></h1>

<p><%= raw((@you_payed ? "%s owes you %s €" : "You owe %s %s €") %
  [link_to(@friend.name, @friend), h(@bill.amount)]) %></p>

<h2>Details</h2>
<p>Type: <%= @bill.bill_type %></p>
<p>With: <%= link_to(@friend.name, @friend) %></p>
<p>Who payed?: <%= @you_payed ? "you" : "him/her" %></p>
<p>Amount: <%= @bill.amount %> €</p>
<p>Description: <%= @bill.description %></p>
<p>Date: <%= @bill.date %></p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>

<% if @bill.shared? %>
<h2>Result</h2>
<ul>
<% @bill.debts.each do |debt| %>
  <li>
    <%= link_to(debt.person_to.name, debt.person_to) %>
    owes
    <%= debt.amount %> €
    to
    <%= link_to(debt.person_from.name, debt.person_from) %>
  </li>
<% end %>
</ul>
<% end %>
