%h1= h @title = @bill.title

%p= link_to "Edit", edit_bill_path(@bill)

%article.bill
  %p
    = link_to h(@bill.from_user.name), @bill.from_user
    = h @bill.past_verb
    = link_to h(@bill.to_user.name), @bill.to_user
    = h @bill.amount.to_s + " €"
  %p= h @bill.description
  %p= h @bill.transaction_at

