<h1><%=@title=@bill.description%></h1>

<p><b>Amount:</b> <%= @bill.amount %> €</p>
<p><b>Date:</b> <%= @bill.date %></p>

<% if @bill.debts.length == 0 %>

<p><%= link_to("Add debts to this bill", new_debt_path('debt[bill_id]' => @bill.id, 'debt[amount]' => @bill.missing_amount))%></p>

<% else %>

  <h2>Debts</h2>
  <% if @bill.missing_amount > 0 %>
    <p>
      This bill's debts should sum up to <%=@bill.amount %> €.
      Please add <%=@bill.missing_amount%> € in the amounts below or
      <%= link_to("add another debt", new_debt_path('debt[bill_id]' => @bill.id, 'debt[amount]' => @bill.missing_amount))%>.
    </p>

  <% elsif @bill.missing_amount < 0 %>
    
    <p>
      This bill's debts should sum up to <%=@bill.amount %> €.
      Please remove <%=-@bill.missing_amount%> € from the amounts below.
    </p>
  <% end %>

  <ul>
  <% @bill.debts.each do |debt| %>
    <li>
      <%= link_to(debt.person_to.name, debt.person_to) %>
      owes
      <%= debt.amount %> €
      to
      <%= link_to(debt.person_from.name, debt.person_from) %>
      
      <%= link_to("Edit debt", edit_debt_path(debt)) %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
