<h1>Bill</h1>

<dl>
  <dt>Bill</dt>
  <dd><%=bill_resume(@bill)%></dt>

  <dt>Amount</dt>
  <dd><%=money(@bill)%></dd>

  <dt>Description</dt>
  <dd><%= @bill.description %></dd>

  <dt>Date</dt>
  <dd><%= @bill.date.strftime('%Y-%m-%d') %></dd>
</dl>

<% if @bill.shared? %>
<h2>Result</h2>
<ul>
<% @bill.debts.each do |debt| %>
  <li>
    <%= link_to(debt.person_to.name, debt.person_to) %>
    owes
    <%= debt.amount %> €
    to
    <%= link_to(debt.person_from.name, debt.person_from) %>
  </li>
<% end %>
</ul>
<% end %>

<div><%= link_to 'Edit', edit_bill_path(@bill) %></div>

<%= button_to 'Delete', bill_path(@bill), :method => 'delete', :confirm => "Are you sure you want to destroy this bill?" %>

