<h1><%=@title=@bill.description%></h1>

<p><b>Amount:</b> <%= @bill.amount %> €</p>
<p><b>Date:</b> <%= @bill.date %></p>

<% if @bill.debts.length != 0 %>

  <h2>Debts</h2>
  <ul>
  <% @bill.debts.each do |debt| %>
    <li>
      <%= link_to(debt.person_to.name, debt.person_to) %>
      owes
      <%= debt.amount %> €
      to
      <%= link_to(debt.person_from.name, debt.person_from) %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
