<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <ul>
    <li>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
<% if devise_mapping.rememberable? -%>
    <li>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </li>
<% end -%>
  </ul>
  <div class="submit">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
