<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title><%= @title ? "#{@title} - " : "" %>IOU</title>
<%= stylesheet_link_tag 'app' %>
<%= csrf_meta_tag %>
<link rel="shortcut icon" href="/images/darkmagenta-circle-16x16.png" />
<link rel="apple-touch-icon" href="/images/darkmagenta-circle-128x128.png" />
</head>
<body>

<header>
  <h1>
    <%= link_to_unless_current raw("I<strong>#{ response.status == 404 ? "&#9785;" : "O"}</strong>U"), root_path %>
  </h1>
<% if user_signed_in? -%>
  <p id="hello">Hello <%=link_to_unless_current(current_user.name, edit_user_registration_path) %>! <%=link_to("Log out", destroy_user_session_path) %> if that's not you.</p>
<% end -%>
</header>

<% if user_signed_in? -%>
<nav class="main_nav">
  <ul>
    <li><%=link_to_unless_current('New Bill', new_bill_path) %></li>
    <li><%=link_to_unless_current('Bills', bills_path) %></li>
    <li><%=link_to_unless_current('Friends', friends_path) %></li>
  </ul>
</nav>
<% end -%>

<% if notice -%>
<p class="notice"><%= notice %></p>
<% end -%>
<% if alert -%>
<p class="alert"><%= alert %></p>
<% end -%>


<%= yield %>

<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js",
                           "jquery-ui-1.8.4.custom.min.js",
                           "rails",
                           "raphael-min",
                           "g.raphael-min",
                           "g.pie",
                           "application" %>

</body>
</html>
