!!!
%html{:lang => 'en'}
  %head
    %title
      IOU
      = " - #{h @title}" if @title
  %body
    %header
      %ul
        %li= link_to "Bills", bills_path
        %li= link_to "Users", users_path


    = yield

